Repository tlaplus/tlaplus, pull requests merged in 2024-11, with the labels that each got.

#1059 ClassCastException when evaluating TLCGet("spec") with coverage enabled.
  tlatools/org.lamport.tlatools/src/tlc2/module/TLCGetSet.java
  tlatools/org.lamport.tlatools/test-model/Github866.tla
  tlatools/org.lamport.tlatools/test-model/TLCGetLevel.cfg
  tlatools/org.lamport.tlatools/test-model/TLCGetLevel.tla
  tlatools/org.lamport.tlatools/test/tlc2/tool/Github866Test.java
  tlatools/org.lamport.tlatools/test/tlc2/tool/TLCGetLevelTest.java
Labels: bug, Tools

#1060 Cannot debug TLC VIEW with TLA+ Debugger.
  tlatools/org.lamport.tlatools/src/tlc2/tool/TLCStateMutExt.java
  tlatools/org.lamport.tlatools/src/tlc2/tool/impl/DebugTool.java
  tlatools/org.lamport.tlatools/test-model/Echo/MCEcho.cfg
  tlatools/org.lamport.tlatools/test-model/Echo/MCEcho.tla
  tlatools/org.lamport.tlatools/test/tlc2/debug/EchoDebuggerTest.java
Labels: enhancement, Tools

#1061 Cancel PR CI workflow runs when newer changes are pushed
  .github/workflows/pr.yml
Labels: enhancement, DevEnvironment

#1063 Evaluate the ALIAS expression on counterexamples generated by liveness checking while running in simulation mode.
  tlatools/org.lamport.tlatools/src/tlc2/tool/liveness/LiveCheck1.java
Labels: enhancement, Tools

#1078 When run with the `-dump dot,constrained ...` option, TLC does not verify invariants or action properties for states that are considered unreachable due to state or action constraints
  tlatools/org.lamport.tlatools/src/tlc2/tool/Worker.java
  tlatools/org.lamport.tlatools/test-model/DotConstrained.cfg
  tlatools/org.lamport.tlatools/test-model/Github602.tla
  tlatools/org.lamport.tlatools/test/tlc2/tool/DotConstrainedTest.java
Labels: bug, Tools

#1086 The exception was a java.lang.ArrayIndexOutOfBoundsException : Index 0 out of bounds for length 0
  tlatools/org.lamport.tlatools/src/tlc2/tool/Worker.java
  tlatools/org.lamport.tlatools/test-model/DotConstrained.cfg
  tlatools/org.lamport.tlatools/test-model/Github602.tla
  tlatools/org.lamport.tlatools/test/tlc2/tool/DotConstrainedTest.java
Labels: bug, Tools
