Repository tlaplus/tlaplus, pull requests merged in 2024-06, with the labels that each got.

#915 Fixed miscellaneous javac compiler warnings
  tlatools/org.lamport.tlatools/customBuild.xml
  tlatools/org.lamport.tlatools/javacc/tla+.jj
  tlatools/org.lamport.tlatools/src/tla2sany/explorer/Explorer.java
  tlatools/org.lamport.tlatools/src/tla2sany/parser/TLAplusParser.java
  tlatools/org.lamport.tlatools/src/tla2sany/semantic/LevelConstants.java
  tlatools/org.lamport.tlatools/src/tla2sany/semantic/SetOfArgLevelConstraints.java
  tlatools/org.lamport.tlatools/src/tla2sany/semantic/SetOfLevelConstraints.java
  tlatools/org.lamport.tlatools/src/tla2sany/semantic/Subst.java
  tlatools/org.lamport.tlatools/src/tla2sany/xml/SymbolContext.java
  tlatools/org.lamport.tlatools/src/tlc2/module/TransitiveClosure.java
  tlatools/org.lamport.tlatools/src/tlc2/tool/distributed/TLCApp.java
  tlatools/org.lamport.tlatools/src/tlc2/tool/fp/LongArray.java
  tlatools/org.lamport.tlatools/src/tlc2/tool/liveness/AbstractDiskGraph.java
Labels: enhancement, Tools

#939 Fix compiler error introduced by recent refactoring that assumes a newer
  tlatools/org.lamport.tlatools/test/tlc2/tool/liveness/SymmetryTableauLiveCheckTest.java
Labels: Tools, DevEnvironment, regression

#907 Rework `BufferedRandomAccessFile`
  tlatools/org.lamport.tlatools/src/tlc2/util/BufferedRandomAccessFile.java
  tlatools/org.lamport.tlatools/src/tlc2/util/BufferedRandomAccessFile.tla
  tlatools/org.lamport.tlatools/test/tlc2/util/AbstractFileState.java
  tlatools/org.lamport.tlatools/test/tlc2/util/BufferedRandomAccessFileFuzzTest.java
  tlatools/org.lamport.tlatools/test/tlc2/util/BufferedRandomAccessFileTest.java
Labels: bug, Tools

#953 Remove Easymock dependency from TLA+ Tools (TLC test suite).
  tlatools/org.lamport.tlatools/META-INF/MANIFEST.MF
  tlatools/org.lamport.tlatools/customBuild.xml
  tlatools/org.lamport.tlatools/github.xml
  tlatools/org.lamport.tlatools/ossrh.xml
  tlatools/org.lamport.tlatools/test/tlc2/tool/liveness/SymmetryTableauLiveCheckTest.java
  tlatools/org.lamport.tlatools/test/tlc2/tool/liveness/SymmetryTableauLiveCheckTest.java.off
  tlatools/org.lamport.tlatools/test/tlc2/tool/liveness/simulation/LiveCheckTest.java
  tlatools/org.lamport.tlatools/test/tlc2/tool/liveness/simulation/LiveCheckTest.java.off
Labels: enhancement, DevEnvironment

#957 <doc>: update description of dump option.
  tlatools/org.lamport.tlatools/src/tlc2/TLC.java
Labels: enhancement, Tools

#966 Use correct keyword.
  .github/workflows/pr.yml
Labels: DevEnvironment

#967 Having fun with pr.yml
  .github/workflows/main.yml
  .github/workflows/pr.yml
Labels: DevEnvironment

#932 Generate test coverage report in html
  tlatools/org.lamport.tlatools/customBuild.xml
Labels: enhancement, help wanted, Tools, DevEnvironment

#975 All JUnit tests fail when executed from within Eclipse unless the basedir is explicitly set.
  tlatools/org.lamport.tlatools/test/tlc2/tool/CommonTestCase.java
Labels: DevEnvironment, regression
