Repository tlaplus/tlaplus, pull requests merged in 2024-10, with the labels that each got.

#1022 Add documentation for `constrained` sub-command
  general/docs/current-tools.md
  tlatools/org.lamport.tlatools/src/tlc2/TLC.java
Labels: enhancement

#1028 Evaluate `_PERIODIC` in simulation mode.
  tlatools/org.lamport.tlatools/src/tlc2/tool/Simulator.java
Labels: enhancement, Tools

#1027 Include CONSTRAINT and ACTION_CONSTRAINT in TLCGet("spec").
  tlatools/org.lamport.tlatools/src/tlc2/module/TLCGetSet.java
  tlatools/org.lamport.tlatools/src/tlc2/value/impl/RecordValue.java
  tlatools/org.lamport.tlatools/test-model/Github807.tla
Labels: enhancement, Tools

#1030 TLC throws an EvalException when reconstructing a counterexample if the next-state relation involves TLC!RandomElement.
  tlatools/org.lamport.tlatools/src/tlc2/tool/liveness/LiveCheck1.java
Labels: bug, Tools

#1036 A race can occur in `TLCExt!TLCGetAndSet`
  tlatools/org.lamport.tlatools/src/tla2sany/StandardModules/TLCExt.tla
  tlatools/org.lamport.tlatools/src/tlc2/module/TLCExt.java
  tlatools/org.lamport.tlatools/test-model/symmetry/OneBitMutex/OneBitMutexNoSymmetryMC.tla
  tlatools/org.lamport.tlatools/test/tlc2/tool/liveness/OneBitMutexNoSymmetryTest.java
  tlatools/org.lamport.tlatools/test/tlc2/tool/liveness/OneBitMutexNoSymmetryTest_TTraceTest.java
Labels: bug, Tools

#1038 Convert TLC.traceNum to a non-static class variable
  tlatools/org.lamport.tlatools/src/tlc2/TLC.java
  tlatools/org.lamport.tlatools/test/tlc2/TLCTest.java
  tlatools/org.lamport.tlatools/test/tlc2/tool/liveness/simulation/LiveCheckSimulationTest2.java
  tlatools/org.lamport.tlatools/test/tlc2/tool/liveness/simulation/LiveCheckSimulationTest2a.java
  tlatools/org.lamport.tlatools/test/tlc2/tool/liveness/simulation/SimulationTest2.java
  tlatools/org.lamport.tlatools/test/tlc2/tool/liveness/simulation/SimulationTest2PostCondition.java
  tlatools/org.lamport.tlatools/test/tlc2/tool/simulation/Github602Test.java
  tlatools/org.lamport.tlatools/test/tlc2/tool/simulation/NQSpecTest.java
Labels: enhancement, Tools

#1042 POSTCONDITION is evaluated twice with different values for TLCExt!Counterexample when TLC detects a liveness violation.
  tlatools/org.lamport.tlatools/src/tlc2/tool/ModelChecker.java
  tlatools/org.lamport.tlatools/src/tlc2/tool/Worker.java
  tlatools/org.lamport.tlatools/test-model/CodePlexBug08/EWD840MC1.tla
  tlatools/org.lamport.tlatools/test-model/CodePlexBug08/MCa.tla
  tlatools/org.lamport.tlatools/test-model/Test3.tla
  tlatools/org.lamport.tlatools/test-model/symmetry/OneBitMutex/OneBitMutexNoSymmetryMC.tla
Labels: bug, Tools
