Repository tlaplus/tlaplus, pull requests merged in 2024-03, with the labels that each got.

#887 In `OffHeapDiskFPSet`, invalidate buffered data after concurrent flush
  tlatools/org.lamport.tlatools/src/tlc2/tool/fp/DiskFPSet.java
  tlatools/org.lamport.tlatools/src/tlc2/tool/fp/LSBDiskFPSet.java
  tlatools/org.lamport.tlatools/src/tlc2/tool/fp/MSBDiskFPSet.java
  tlatools/org.lamport.tlatools/src/tlc2/tool/fp/OffHeapDiskFPSet.java
  tlatools/org.lamport.tlatools/src/tlc2/util/BufferedRandomAccessFile.java
  tlatools/org.lamport.tlatools/test/tlc2/util/BufferedRandomAccessFileTest.java
Labels: bug, Tools

#878 Ensure LF line endings for JavaCC-generated .cfg parser files
  tlatools/org.lamport.tlatools/src/tla2sany/configuration/Token.java
  tlatools/org.lamport.tlatools/src/tla2sany/configuration/TokenMgrError.java
Labels: enhancement, Tools, DevEnvironment

#886 Adapt tree-sitter corpus tests for use with SANY
  tlatools/org.lamport.tlatools/test/tla2sany/AstNode.java
  tlatools/org.lamport.tlatools/test/tla2sany/CorpusParser.java
  tlatools/org.lamport.tlatools/test/tla2sany/ParseCorpusTest.java
  tlatools/org.lamport.tlatools/test/tla2sany/SanyTranslator.java
  tlatools/org.lamport.tlatools/test/tla2sany/corpus/README.md
  tlatools/org.lamport.tlatools/test/tla2sany/corpus/assume-prove.txt
  tlatools/org.lamport.tlatools/test/tla2sany/corpus/case.txt
  tlatools/org.lamport.tlatools/test/tla2sany/corpus/conjlist.txt
  tlatools/org.lamport.tlatools/test/tla2sany/corpus/disjlist.txt
  tlatools/org.lamport.tlatools/test/tla2sany/corpus/except.txt
  tlatools/org.lamport.tlatools/test/tla2sany/corpus/expressions.txt
  tlatools/org.lamport.tlatools/test/tla2sany/corpus/fairness.txt
  tlatools/org.lamport.tlatools/test/tla2sany/corpus/functions.txt
  tlatools/org.lamport.tlatools/test/tla2sany/corpus/if_then_else.txt
  tlatools/org.lamport.tlatools/test/tla2sany/corpus/infix_op.txt
  tlatools/org.lamport.tlatools/test/tla2sany/corpus/jlist.txt
  tlatools/org.lamport.tlatools/test/tla2sany/corpus/labels.txt
  tlatools/org.lamport.tlatools/test/tla2sany/corpus/let_in.txt
  tlatools/org.lamport.tlatools/test/tla2sany/corpus/modules.txt
  tlatools/org.lamport.tlatools/test/tla2sany/corpus/number.txt
  tlatools/org.lamport.tlatools/test/tla2sany/corpus/operators.txt
  tlatools/org.lamport.tlatools/test/tla2sany/corpus/postfix_op.txt
  tlatools/org.lamport.tlatools/test/tla2sany/corpus/prefix_op.txt
  tlatools/org.lamport.tlatools/test/tla2sany/corpus/proofs.txt
  tlatools/org.lamport.tlatools/test/tla2sany/corpus/quantification.txt
  tlatools/org.lamport.tlatools/test/tla2sany/corpus/records.txt
  tlatools/org.lamport.tlatools/test/tla2sany/corpus/recursive.txt
  tlatools/org.lamport.tlatools/test/tla2sany/corpus/regression.txt
  tlatools/org.lamport.tlatools/test/tla2sany/corpus/sets.txt
  tlatools/org.lamport.tlatools/test/tla2sany/corpus/step_expressions.txt
  tlatools/org.lamport.tlatools/test/tla2sany/corpus/string.txt
  tlatools/org.lamport.tlatools/test/tla2sany/corpus/subexpressions.txt
  tlatools/org.lamport.tlatools/test/tla2sany/corpus/unit.txt
  tlatools/org.lamport.tlatools/test/tla2sany/corpus/use_or_hide.txt
Labels: enhancement, DevEnvironment, SANY

#894 Test operator precedence & associativity parsing
  tlatools/org.lamport.tlatools/test/tla2sany/OperatorPrecedenceTests.java
Labels: enhancement, DevEnvironment, SANY

#897 Support enabling action and variable coverage independently of more expensive formula and value coverage.
  tlatools/org.lamport.tlatools/src/tlc2/TLCGlobals.java
  tlatools/org.lamport.tlatools/src/tlc2/tool/AbstractChecker.java
  tlatools/org.lamport.tlatools/src/tlc2/tool/ModelChecker.java
  tlatools/org.lamport.tlatools/src/tlc2/tool/SimulationWorker.java
  tlatools/org.lamport.tlatools/src/tlc2/tool/Simulator.java
  tlatools/org.lamport.tlatools/src/tlc2/tool/Worker.java
  tlatools/org.lamport.tlatools/src/tlc2/tool/coverage/CostModelNode.java
  tlatools/org.lamport.tlatools/src/tlc2/tool/impl/ActionItemList.java
  tlatools/org.lamport.tlatools/src/tlc2/tool/impl/Tool.java
Labels: enhancement, Tools

#895 Statically initialize operators table
  tlatools/org.lamport.tlatools/src/tla2sany/configuration/ConfigConstants.java
  tlatools/org.lamport.tlatools/src/tla2sany/configuration/Configuration.java
  tlatools/org.lamport.tlatools/src/tla2sany/parser/Operator.java
  tlatools/org.lamport.tlatools/src/tla2sany/parser/Operators.java
  tlatools/org.lamport.tlatools/test/tla2sany/ParseCorpusTest.java
Labels: enhancement, Tools, refactoring, SANY

#898 Add TLC hook to periodically evaluate a constant-level expression.
  tlatools/org.lamport.tlatools/src/tlc2/tool/ModelChecker.java
  tlatools/org.lamport.tlatools/src/tlc2/tool/impl/ModelConfig.java
  tlatools/org.lamport.tlatools/src/tlc2/tool/impl/Spec.java
  tlatools/org.lamport.tlatools/src/tlc2/tool/impl/SpecProcessor.java
Labels: enhancement, Tools
