Repository tlaplus/tlaplus, pull requests merged in 2025-08, with the labels that each got.

#1223 CI: use new parameters for tlaplus/examples CI scripts
  .github/workflows/pr.yml
Labels: DevEnvironment

#1230 Add debugging aids to (i) print statistics about the complexity of liveness checking, and (ii) visualize the tableau graph with GraphViz.
  tlatools/org.lamport.tlatools/src/tlc2/output/EC.java
  tlatools/org.lamport.tlatools/src/tlc2/output/MP.java
  tlatools/org.lamport.tlatools/src/tlc2/tool/liveness/Liveness.java
Labels: enhancement, Tools

#1202 SANY: created unified errors.addMessage() error reporting method
  tlatools/org.lamport.tlatools/src/tla2sany/semantic/ErrorCode.java
  tlatools/org.lamport.tlatools/src/tla2sany/semantic/Errors.java
  tlatools/org.lamport.tlatools/test/tla2sany/api/SANYFrontend.java
  tlatools/org.lamport.tlatools/test/tla2sany/semantic/SemanticCorpusTests.java
  tlatools/org.lamport.tlatools/test/tla2sany/semantic/SemanticErrorCorpusTests.java
  tlatools/org.lamport.tlatools/test/tla2sany/semantic/TestErrors.java
Labels: enhancement, usability, SANY

#1200 Relax recommendation for tabs over spaces
  DEVELOPING.md
Labels: DevEnvironment
